<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/task_crud?serverTimezone=Europe/Warsaw</property>
        <property name="connection.username">task</property>
        <property name="connection.password">task</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.transaction.coordinator_class">jdbc</property>
        <property name="current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.mySQL.ddl">update</property>
        <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
        <property name="hibernate.id.new_generator_mappings">true</property>
        <property name="cascade"></property>
        <property name="hibernate.search.lucene_version">LUCENE_47</property>
        <mapping class="pl.edu.agh.tai.userservice.domain.Hobby"></mapping>
        <mapping class="pl.edu.agh.tai.userservice.domain.Feature"></mapping>
        <mapping class="pl.edu.agh.tai.userservice.domain.User"></mapping>
        <mapping class="pl.edu.agh.tai.userservice.domain.Coordinates"></mapping>


    </session-factory>

</hibernate-configuration>